.container {
	padding: 5px;
	background-color: black;
	display: grid;
	grid-template-columns: repeat(40, 1fr);
	grid-template-rows: repeat(40, 1fr);
	gap: 0.5px;
}

.square {
  width: 12px;
  height: 12px;
  background-color: sandybrown;
}
